#loginBg{
    background-image: url('https://www.bu.edu/met/files/2020/09/csit-sa-hero-1200x400.jpg');
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 200px 50px ;
}